<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="DXAirways.master.cs" Inherits="DXAirways.Web.DXAirways" %>

<%@ Register src="PersonName.ascx" tagname="PersonName" tagprefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
            <table class="" style="width: 900px">
                <tr class="">
                        <td>
                            <table class="" style="width: 100%">
                                <tr class="">
                                    <td align="left" rowspan="3">
                                        <dxe:ASPxHyperLink ID="lnkHomeLogo" runat="server" Text="" 
                                            ImageUrl="Images/DXairways-SharpWings-Duotone-version2.png" 
                                            ImageWidth="425px">
                                        </dxe:ASPxHyperLink>
                                    </td>
                                    <td align="right" valign="top">
                                        <asp:LoginView ID="secAuthView" runat="server">
                                            <LoggedInTemplate>
                                                Welcome&nbsp;
                                                <uc1:PersonName ID="PersonName1" runat="server" />
                                            </LoggedInTemplate>
                                        </asp:LoginView>
                                        &nbsp;&nbsp;&nbsp;
                                        <dxe:ASPxHyperLink ID="lnkSiteMap" runat="server" Text="" 
                                            ImageUrl="Images/SiteMap.gif" ImageWidth="15px">
                                        </dxe:ASPxHyperLink>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <asp:LoginStatus ID="secAuthLink" runat="server" LoginText="Sign In" 
                                            LogoutText="Sign Out " />
                                        &nbsp;|&nbsp;
                                        <dxe:ASPxHyperLink ID="lnkMyAccount" runat="server" Text="My Account">
                                        </dxe:ASPxHyperLink>
                                        &nbsp;|&nbsp;
                                        <dxe:ASPxHyperLink ID="lnkContactUs" runat="server" Text="Contact Us">
                                        </dxe:ASPxHyperLink>
                                        &nbsp;|
                                        <dxe:ASPxHyperLink ID="lnkHelp" runat="server" Text="Help">
                                        </dxe:ASPxHyperLink>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        <dxm:ASPxMenu ID="navMainMenu" runat="server" DataSourceID="dsSiteMap">
                                        </dxm:ASPxMenu>
                                    </td>
                                </tr>
                            </table>                        
                        </td>
                </tr>
                <tr class="">
                    <td valign="top">
                        <asp:ContentPlaceHolder ID="cphBody" runat="server">
                        </asp:ContentPlaceHolder>
                    </td>
                </tr>
                <tr class="">
                    <td>
                        <asp:ContentPlaceHolder ID="cphFooter" runat="server">
                        </asp:ContentPlaceHolder>
                    </td>
                </tr>
            </table>        
            <dxsm:ASPxSiteMapDataSource ID="dsSiteMap" runat="server" 
                SiteMapFileName="~/Web.sitemap" />
    </form>
</body>
</html>
