/* -- ASPxSiteMapControl -- */
.dxsmControl_MultiLine a
{
    color:#002BB8!important;    
    text-decoration:none!important;
}
.dxsmControl_MultiLine a:hover
{
    text-decoration:underline!important;
}
.dxsmControl_MultiLine a:visited
{
    color:#990099!important;
}
.dxsmControl_MultiLine 
{	
	color: #1E3695;
	background-color: white;
	font-family: Verdana, Tahoma, Arial;
	font-size: 11px;
}
/* - Category Level - */
.dxsmCategoryLevel_MultiLine, .dxsmCategoryLevel_MultiLine a
{
    color: #1E3695;    
    font-weight: bold;
    font-size: 13.5pt;
    font-family: Verdana;
    text-decoration: none;
}
.dxsmCategoryLevel_MultiLine
{
    white-space: nowrap;
    padding: 0px 0px 5px 0px;
}
.dxsmCategoryLevel_MultiLine
{
    border-bottom: solid 1px #B8B8B8;    
}
 /*flow layout*/
.dxsmLevelCategoryFlow_MultiLine, .dxsmLevelCategoryFlow_MultiLine a
{
    color: #1E3695;    
    font-weight: bold;
    font-size: 13.5pt;
    font-family: Tahoma, Verdana, Arial;	
	text-decoration: underline;
}
/* - Level 0 - */
.dxsmLevel0_MultiLine, .dxsmLevel0_MultiLine a, .dxsmLevel0Categorized_MultiLine a, .dxsmLevel0Categorized_MultiLine
{
    color: #1E3695;    
    font-weight: bold;
    font-size: 9pt;
    font-family: Verdana;
    text-decoration: none;
}
.dxsmLevel0_MultiLine, .dxsmLevel0Categorized_MultiLine
{
    white-space: nowrap;
    padding: 0px 0px 2px 0px;
}
.dxsmLevel0_MultiLine
{
    border-bottom:solid 1px #B8B8B8;
    padding: 0px 0px 5px 0px;
}
 /*flow layout*/

.dxsmLevel0Flow_MultiLine, .dxsmLevel0Flow_MultiLine a, .dxsmLevel0CategorizedFlow_MultiLine a, .dxsmLevel0CategorizedFlow_MultiLine
{
    color: #A4A2A2;    
    font-family: Tahoma, Verdana, Arial;	
    font-weight: normal;
    font-size: 11px;
	text-align: center;    
	text-decoration: none;
}
.dxsmLevel0Flow_MultiLine
{
    padding: 0px 0px 0px 0px;    
}
.dxsmLevel0Flow_MultiLine
{
    text-decoration: none;    
}

/* - Level 1 - */
.dxsmLevel1_MultiLine, .dxsmLevel1_MultiLine a, .dxsmLevel1Categorized_MultiLine a, .dxsmLevel1Categorized_MultiLine
{    
    font-family: Verdana;
    color: #3C55B9;  
    font-size: 8pt;
    text-decoration: none;    
}
.dxsmLevel1_MultiLine, .dxsmLevel1Categorized_MultiLine
{
    white-space: nowrap;  
    padding: 0px 0px 0px 0px;
}

/*flow layout*/
.dxsmLevel1Flow_MultiLine, .dxsmLevel1Flow_MultiLine a, .dxsmLevel1CategorizedFlow_MultiLine, .dxsmLevel1CategorizedFlow_MultiLine a
{    
    color: #3C55B9;    
    font-family: Tahoma, Verdana, Arial;	
    font-size: 8pt;
	text-decoration: underline;
}
.dxsmLevel1Flow_MultiLine
{
    text-decoration: none;
    padding: 0px 0px 0px 0px;
}

/* - Level 2 - */
.dxsmLevel2_MultiLine, .dxsmLevel2_MultiLine a, .dxsmLevel2Categorized_MultiLine a, .dxsmLevel2Categorized_MultiLine
{    
    font-size: 10px;
    font-family: Verdana;
    color: #5078DC;
    text-decoration: none;    
}
.dxsmLevel2_MultiLine, .dxsmLevel2Categorized_MultiLine
{
    white-space:nowrap;
    padding: 0px 0px 0px 0px;    
}
/*flow layout*/
.dxsmLevel2Flow_MultiLine, .dxsmLevel2Flow_MultiLine a
{
    color: #5078DC;
    font-size: 10px;    
    font-family: Tahoma, Verdana, Arial;	
	text-decoration:underline;    
}
.dxsmLevel2Flow_MultiLine
{
    padding: 0px 0px 0px 0px;
}
/* - Level 3 - */
.dxsmLevel3_MultiLine, .dxsmLevel3_MultiLine a
{    
    font-size: 9px;
    font-family: Verdana;
    color: #999999;
    text-decoration: none;
}
.dxsmLevel3_MultiLine
{
    white-space: nowrap;        
    padding: 0px 0px 0px 0px;    
}
/*flow layout*/
.dxsmLevel3Flow_MultiLine, .dxsmLevel3Flow_MultiLine a
{    
    color: #999999;
    font-size: 9px;
    font-family: Tahoma, Verdana, Arial;	
	text-decoration: underline;    
}
/* - Level 4 - */
.dxsmLevel4_MultiLine, .dxsmLevel4_MultiLine a
{    
    font-size: 9px;
    font-family: Verdana;
    color: #A8A8A8;
    text-decoration: none;
}
.dxsmLevel4_MultiLine
{
    white-space: nowrap;
    padding: 0px 0px 0px 0px;    
}
/*flow layout*/
.dxsmLevel4Flow_MultiLine, .dxsmLevel4Flow_MultiLine a
{
    color: #A8A8A8;
    font-family: Tahoma, Verdana, Arial;	
    font-size: 9px;
	text-decoration: underline;        
}
.dxsmLevel4Flow_MultiLine
{
    padding: 0px 0px 0px 0px;        
}
/* - Other Levels - */
.dxsmLevelOther_MultiLine
{    
    font-size: 9px;
    font-family: Verdana;
    color: #A8A8A8;
    text-decoration: none;
}
.dxsmLevelOther_MultiLine
{
    white-space:nowrap;
    padding: 0px 0px 0px 0px;            
}
/*flow layout*/
.dxsmLevelOtherFlow_MultiLine, .dxsmLevelOtherFlow_MultiLine a
{
    color: #A8A8A8;
    font-family: Tahoma, Verdana, Arial;	
    font-size: 9pt;
	text-decoration: underline;            
}
/* Disabled */
.dxsmDisabled_MultiLine
{
	color: #808080;
	cursor: default;
}
